@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Macondo', cursive;
    color: #222;
}

body{
    background: linear-gradient(#e66465, #9198e5);
    width: 100vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

input, button{
    border: none;
    outline: none;
    background-color: rgba(225,225,225,0.7);
}
input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
button{
    font-family: arial;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        background-color: rgba(51,51,51,0.7);
        color: #ccc;
    }
}
header{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}
form{
    display: flex;
    justify-content: center;
    input, button{
        border: none;
        border-radius: 5px;
        height: 1.6rem;
        margin: 5px;
    }
    input[type="text"]{
        width: 25%;
        min-width: 200px;
    }
}
.sort{
    padding: 20px;
    button{
        padding: 5px 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius:5px;
        border: none;
    }
}

section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    .todo{
        font-family: 微軟正黑體;
        padding: 5px;
        margin: 2px;
        display: flex;
        width: 100%;
        box-shadow: 2px 2px 2px rgba(#333,0.6);
        background-color: #fff;
        opacity: 0.5;
        transition: 0.5s;
        border-radius: 5px;
        .todo-text{
            flex: 1 1 350px;
            margin: 0;
            margin-top: 2px;
        }
        .todo-time{
            width: 100px;
            margin: 0;
            margin-top: 2px;
        }
        button{
            background: none;
            font-size: 20px;
            width: 26px;
            height: 26px;
            // vertical-align: middle;
            &.check_btn{
                color: #349444;
            }
            &.trash_btn{
                color: #850825;
            }
            &:hover{
                color: #ccc;
            }
            & i{
                pointer-events: none;
            }
        }
        &.done{
            text-decoration: line-through;
            text-decoration-thickness: 2px;
            text-decoration-color: #850825;
            opacity: 0.2;
        }
    }
}

@keyframes scaleUp{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes scaleDown{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}
